* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  padding-top: 30px;
  margin: 0;

  /*overflow: hidden;*/

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --overlay-light: #383b40;
  --overlay-dark: #2d2f34;
  --surface: #27292d;
  --base: #1f2023
  --overflow: #010101;
  --text-color: #ffffff;
  --text-opacity: .65;
  --text-contrast: contrast(1.5);

  background-color: white;

  /*
  border-width: 5px;
  border-color: gray;
  border-style: solid;
  */
}

body {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /*overflow: hidden;*/
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.hover-expand {
  text-decoration: none;
  display: inline-block;
  color: #737373;
  transition: color 0.3s ease-in-out;
}

.expand-text {
  display: inline-block;
  max-width: 0;
  overflow: hidden;
  vertical-align: bottom;
  white-space: nowrap;
  transition: all 0.5s ease-in-out;
}

/*
.hover-expand:hover {
  color: black;
}
*/

.hover-expand:hover .expand-text {
  max-width: 100%;
}

p {
  line-height: 1.5;
}

a { 
  /*text-decoration: none;*/
  color: #737373;
}

h1, h2, h3 {
  font-family: ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
  font-weight: 100;
  /*color: black;*/
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.links a {
  text-decoration: none;
}

.thoughts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 10vh;
  margin-bottom: 8vh;
  line-height: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 100%;

  background-color: #f5f5f5;
  color: rgb(115 115 115/1);

  font-size: 0.75rem;
}

.placeholder {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

@media screen and (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  body {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
  }
}

/* Container for the status */
.status {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between the dot and the text */
  font-family: Arial, sans-serif;
  color: #d3cfc9; /* Text color */
}

/* Dot styling */
.dot {
  height: 10px;
  width: 10px;
  background-color: #00c583; /* Green color for the dot */
  border-radius: 50%; /* Makes the dot circular */
  animation: blink 5s infinite; /* Attach blinking animation */
}

/* Blinking animation */
@keyframes blink {
  0%, 100% {
    opacity: 1; /* Fully visible */
  }
  50% {
    opacity: 0; /* Fully hidden */
  }
}